{% extends 'inc/base.html' %}
{% load static %}

{% block content %}

  {% include 'inc/question.html' %}

  {% for answer in answers %}
    {% include 'inc/one_answer.html' %}
  {% endfor %}
  <!---{% include 'inc/one_answer.html' %}--->
  
<ul class="pagination">
    {% if answers.has_previous %}
    <li><a href="?page=1">&laquo; first</a></li>
    <li><a href="?page={{ answers.previous_page_number }}">previous</a></li>
    {% else %}
    <li><a style="color: gray">&laquo; first</a></li>
    <li><a style="color: gray">previous</a></li>
    {% endif %}

    <li>
        <a>Page {{ answers.number }} of {{ answers.paginator.num_pages }}</a>
    </li>

    {% if answers.has_next %}
    <li><a href="?page={{ answers.next_page_number }}">next</a></li>
    <li><a href="?page={{ answers.paginator.num_pages }}">last &raquo;</a></li>
    {% else %}
    <li><a style="color: gray">next</a></li>
    <li><a style="color: gray">last &raquo;</a></li>
    {% endif %}
</ul>

  <div class="row mb-3 mt-3 border-top">
    <div class="col-12">
      <div class="form-group mt-3">
        <div class="col-10">
          <textarea class="form-control" rows="8" id="textArea" placeholder="Wait for your answer"></textarea>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
