{% load static %}
<div class="media text-muted pt-3 border p-2 mb-2">
      <ol class="list-unstyled mb-0" style="text-align: center">
          <img src="{% static 'img/your_avatar.jpg' %}" class="p-2" alt="Avatar">
          <div class="small"><span>I can't get username(</span></div>
        <li>
          <div class="def-number-input number-input safari_only">
            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus">-</button>
            <label><input class="quantity" min="0" name="quantity" value="1" type="number" style="pointer-events: none; width: 50px; text-align: right;"></label>
            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus">+</button>
          </div>
        </li>
      </ol>
      <div class="media-body pb-3 mb-0 small lh-125">
        <a href="{% url 'question' question.id%}" class="text-u">{{ question.title }}</a>
        <span>{{ question.text }}</span>
        <div class="row mb-3">
          <div class="col-6">
            <a href="{% url 'question' question.id%}" class="text-u">answer</a></div>
          <div class="col-6">
            <span>Tags</span>
              {% for ntag in question.tags.split %}
                 <a href="{% url 'tag' ntag %}" class="text-u">{{ ntag }}</a>
              {% endfor %}
          </div>
        </div>
      </div>
</div>